.btn {
  width: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  min-height: 2rem;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  &:disabled {
    cursor: not-allowed;
    background: lightgrey !important;
  }
  &.btn-submit {
    background: black;
    &:hover {
      background: lighten(black, 10);
    }
    &:active {
      background: lighten(black, 20);
    }
  }
  &.btn-submit2 {
    background: rgb(2, 2, 167);
    &:hover {
      filter: brightness(90%);
    }
    &:active {
      filter: brightness(80%);
    }
  }
  &.btn-cancel {
    background: rgb(170, 0, 0);
    &:hover {
      filter: brightness(90%);
    }
    &:active {
      filter: brightness(80%);
    }
  }
}

input.custom-input,
textarea.custom-input {
  border: 1px solid black;
  padding: 0.5rem;
  &.invalid {
   border-color: red; 
  }
}