.btn {
  width: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  min-height: 2.2rem;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  &:disabled {
    cursor: not-allowed;
    background: lightgrey !important;
  }
  &.btn-submit {
    background: black;
    &:hover {
      background: lighten(black, 10);
    }
    &:active {
      background: lighten(black, 20);
    }
  }
  &.btn-submit2 {
    background: rgb(2, 2, 167);
    &:hover {
      filter: brightness(90%);
    }
    &:active {
      filter: brightness(80%);
    }
  }
  &.btn-cancel {
    background: rgb(170, 0, 0);
    &:hover {
      filter: brightness(90%);
    }
    &:active {
      filter: brightness(80%);
    }
  }
}

input.custom-input,
textarea.custom-input {
  font-size: 1.1rem;
  border: 1px solid black;
  padding: 0.5rem;
  &.invalid {
    border-color: red;
  }
}
textarea.custom-input {
  font-size: 1.2rem;
}

select.custom-select {
  border: 1px solid black;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    filter: brightness(95%);
  }
  &:active {
    filter: brightness(90%);
  }
}
@-moz-document url-prefix() {
  select.custom-select {
    height: 2rem;
  }
}
