.btn {
  width: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  min-height: 2rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  &:disabled {
    cursor: not-allowed;
    // filter: grayscale(80%);
    background: lightgrey !important;
  }
  &.btn-submit {
    background: black;
    &:hover {
      background: rgba(black, 0.95);
    }
    &:active {
      background: rgba(black, 0.8);
    }
  }
  &.btn-cancel {
    background: rgb(170, 0, 0);
    &:hover {
      filter: brightness(90%);
    }
    &:active {
      filter: brightness(80%);
    }
  }
}
