.endpoint {
  position: relative;
  width: 100%;
  margin: 0.625rem 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.19);
  border: 1px solid black;
  border-radius: 4px;
  .endpoint-heading {
    cursor: pointer;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid black;
    &.closed {
      border: none;
    }
    .method {
      height: 100%;
      width: 4.7rem;
      position: relative;
      border-right: 1px solid black;
      span {
        color: white;
        font-display: sans-serif;
        font-weight: 700;
        font-size: 0.875rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .url {
      margin-left: 0.5rem;
    }
    .icn {
      width: 1rem;
      height: 1rem;
      padding: 0.7rem;
      cursor: pointer;
      margin-right: 0.5rem;

      &.edit {
        margin-left: auto;
      }
      &:hover {
        filter: brightness(80%);
      }
      &:active {
        filter: brightness(50%);
      }
    }
    a.edit {
      margin-left: auto;
    }
  }
  &.post {
    background: rgba(73, 204, 144, 0.1);
    border-color: #49cc90;
    .method {
      background-color: #49cc90;
      border-color: #49cc90;
    }
    .endpoint-heading {
      border-bottom-color: #49cc90;
    }
  }
  &.get {
    background: rgba(97, 175, 254, 0.1);
    border-color: #61affe;
    .method {
      background-color: #61affe;
      border-color: #61affe;
    }
    .endpoint-heading {
      border-bottom-color: #61affe;
    }
  }
  &.put {
    background: rgba(252, 161, 48, 0.1);
    border-color: #fca130;
    .method {
      background-color: #fca130fe;
      border-color: #fca130fe;
    }
    .endpoint-heading {
      border-bottom-color: #fca130;
    }
  }
  &.patch {
    background: rgba(80, 227, 194, 0.1);
    border-color: #50e3c2;
    .method {
      background-color: #50e3c2;
      border-color: #50e3c2;
    }
    .endpoint-heading {
      border-bottom-color: #50e3c2;
    }
  }
  &.delete {
    background: rgba(249, 62, 62, 0.1);
    border-color: #f93e3e;
    .method {
      background-color: #f93e3e;
      border-color: #f93e3e;
    }
    .endpoint-heading {
      border-bottom-color: #f93e3e;
    }
  }
  &.options {
    background: rgba(13, 90, 167, 0.1);
    border-color: #0d5aa7;
    .method {
      background-color: #0d5aa7;
      border-color: #0d5aa7;
    }
    .endpoint-heading {
      border-bottom-color: #0d5aa7;
    }
  }
}

nav.nav-bar {
  background-color: black;
  height: 2.5rem;
  top: 0;
  position: sticky;
  z-index: 10;
  .links-container {
    height: 100%;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    .router-link {
      height: 100%;
      display: block;
      color: $text-color;
      font-size: 2rem;
      padding: 0 1rem;
      text-decoration: none;
      font-family: sans-serif;
      // @media (min-width: 1220px) {
      //   &:first-child {
      //     padding-left: 0;
      //   }
      // }
      &.router-link-exact-active {
        color: white;
      }
      &:hover {
        background: rgb(68, 68, 68);
      }
    }
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  .modal-container {
    &:focus {
      outline: none;
    }
    padding: 1.3rem;
    background-color: white;
    border-radius: 1rem;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    // width: 50vw;
    min-height: 200px;
    width: 800px;
    @media (min-width: 601px) and (max-width: 900px) {
      width: 500px;
    }
    @media (max-width: 600px) {
      width: 80vw;
    }
  }
}

.add-endpoint {
  > * {
    margin-top: 0.5rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  label {
    > * {
      min-height: 2rem;
      box-sizing: border-box;
      display: block;
      width: 100%;
    }
    textarea {
      resize: none;
      height: 4rem;
    }
  }
  .controlls-container {
    margin-top: 1.5rem;
    display: flex;
    button {
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}

.endpoints-container,
.edit-endpoint-container {
  max-width: 1200px;
  margin: 1rem auto;
  @media (max-width: 1220px) {
    margin: 1rem;
  }
}
.editable-field-container {
  margin-bottom: 3rem;
}
.editable-field-heading-container {
  display: flex;
  align-items: center;
  select {
    height: 2rem;
    width: 20rem;
    &.type {
      margin-left: auto;
    }
  }
}
