html {
  @media (max-width: 600px) {
    font-size: 0.7rem;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}


@import "./globals.scss";
@import "./global-styles.scss";
@import "./controls.scss";
@import "./jsoneditor-custom-styles.scss";
